body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; 
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

input {
    margin-top: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    margin-top: 10px;
    font-size: 14px;
}

.user-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 20px;
}

.user-table th {
    background-color: #007bff;
    color: white;
}

#userInfo p, .user-table td {
    font-size: 20px;
    line-height: 1.5;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}